/* Body CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main {
  flex: 1;
}

/* Css for the navigation bar */
.topnav img {
  height: 20px;
}
.topnav {
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: relative;
}

.topnav .openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  display: none;
}

.desktop-nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.desktop-nav-links a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 14px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.desktop-nav-links a:hover {
  background-color: #ddd;
  color: #333;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}
@media screen and (max-width: 400px) {
  #main-contact {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  #main-index h1 {
    font-size: 16px !important;
  }
  #main-index p {
    font-size: 14px !important;
  }

  .status-bar {
    display: flex;
    flex-direction: column;
    font-size: 13px;
  }
  .topnav .openbtn {
    display: block;
  }

  .sidebar {
    width: 0;
  }

  #main {
    margin-left: 0;
  }

  .sidebar.show {
    width: 250px;
  }

  .desktop-nav-links {
    display: none;
  }
  .sidebar a:hover {
    color: white;
  }
}

/* Status bar css */
.status-bar {
  display: flex;
  justify-content: space-between;
  background-color: #f1f1f1;
  padding: 10px;
  font-weight: bold;
}

.status-bar span {
  margin: 0 10px;
}

/* Driving test area css */
.driving-test-area {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 20px;
  font-weight: bold;
}

.choices {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.answers {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.answers button {
  width: 100px;
  height: 50px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.answers .btn-a {
  background-color: #add8e6;
}

.answers .btn-b {
  background-color: #add8e6;
}

.answers .btn-c {
  background-color: #add8e6;
}

.answers button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Submit area CSS */
.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.submit button {
  margin-top: 30px;
  width: 100px;
  height: 50px;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.submit .btn-later {
  background-color: #f1f1f1;
}
.submit .btn-later:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.submit .btn-submit {
  background-color: #f1f1f1;
}
.submit .btn-submit:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.submit .btn-delete {
  background-color: #f1f1f1;
}

.submit .btn-delete:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.btn-later i {
  color: yellow;
}

.btn-submit i {
  color: green;
}

.btn-delete i {
  color: red;
}

/* Footer */
footer {
  background-color: #111;
  color: white;
  padding: 30px 0;
  text-align: center;
  margin-top: auto; /* Push footer to the bottom */
}

/* Socials */
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 5px 48px 0;
}

.socials li {
  margin: 0 15px;
}

.socials a {
  text-decoration: none;
  color: #fff;
}

/* Css for index.html page */
#main-index {
  background-image: url("../images/background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2em;
  color: rgb(44, 9, 243);
}

#main-index h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1em;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#main-index p {
  font-size: 1.2rem;
  margin-bottom: 1.5em;
  line-height: 1.6;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

#main-index a {
  color: #837005;
  font-weight: bold;
}

#main-index a:hover {
  color: #ff8c00;
  cursor: pointer;
}

#start-form {
  position: relative;
  box-sizing: border-box;
  background-color: lightblue;
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 2em;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#start-button {
  background-color: #054a6a;
  border-radius: 20px;
  border: none;
  color: white;
  padding: 1.1em;
}

#start-button:hover {
  background-color: #032d41;
  cursor: pointer;
}

#examinee-name-input {
  background-color: #054a6a;
  border-radius: 20px;
  border: none;
  padding: 1.1em;
  color: white;
}

/* Css for about page */
#main-about {
  background-color: #f4f4f4;
  padding: 50px 20px;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background: #ffffff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  text-align: left;
}

#main-about h1 {
  font-size: 2rem;
  color: #054a6a;
  margin-bottom: 20px;
  text-align: center;
}

#main-about h2 {
  font-size: 1.5rem;
  color: #054a6a;
  margin-bottom: 15px;
}

#main-about p {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
  margin-bottom: 15px;
}

#main-about ul {
  padding-left: 20px;
  margin-bottom: 20px;
}

#main-about ul li {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

/* CSS for result view */
.result {
  border-radius: 10px;
  padding: 20px 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

.result h3 {
  font-size: 2rem;
  color: #054a6a;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.result p {
  font-size: 1rem;
  color: black;
  margin-bottom: 10px;
  line-height: 1.6;
}

.result button {
  background-color: #054a6a;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.result button:hover {
  background-color: #032d41;
}

/* CSS for contact page */

#main-contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 40px;
}

.form,
.address {
  flex: 1;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  color: #333333;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

.address {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  line-height: 1.6;
}

.address h3 {
  font-size: 1.5rem;
  color: #054a6a;
  margin-bottom: 15px;
}

.address p {
  margin-bottom: 15px;
  color: #333333;
  font-size: 1rem;
}

.address strong {
  color: #054a6a;
}

button[type="submit"] {
  background-color: #054a6a;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button[type="submit"]:hover {
  background-color: #032d41;
}
